@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');

//INCLUDED
h1 {
  color: tomato;
}

body {
  background: white;
  color: #116daa;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
  margin: 70px 0;
}

.chatbar {
  background: #b3daf2;
  border-top: 1px solid #95bad3;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid #7cafd1;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
  border-radius: 5px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content p {
  margin: 0px;
  overflow-wrap: break-word;
}

.message-username {
  overflow: hidden;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 400;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
}

.navbar {
  background: #85C1E9;
  border-bottom: 1px solid #85c1e9;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  font-family: 'Shadows Into Light', cursive;
  color: black;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}


//ADD-ON

.userCount {
  font-family: 'Shadows Into Light', cursive;
  color: #ffffff;
  display: block;
  float: right;
  font-size: 18px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.colour0 {
  color: rgb(147, 51, 243);
}

.colour1 {
  color: #43a6be;
}

.colour2 {
  color: #439713;
}

.colour3 {
  color: #fe9800;
}